.some{
    padding: 30px;
    font-size: 18px;
    font-family: arial;
    color:aqua;
   
}
@keyframes coloranimation {
    from{
        color:red;
        background: pink;
        font-size:30px;
        transform:rotate(90deg);
    }
    
    to{
        color:aqua;
    }
    
    
.somediv {
        width: 300px;
        height: 300px;
        background:red;
        
    }
    .bar{
        padding: 50px;
        font-family: inherit;
        font-size:20px;
    }