*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.parent{
    max-width: 400px;
    border:2px solid red;
    padding:15px;
    margin:10% auto;
    position:relative;
    border-radius:20%;
    overflow: hidden
}
.parent >.info{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(20, 15, 27, 0.5);
    opacity: 0.3;
    transition: 2s;
    
}

.parent >.img{
    width:100%;

}
.info:hover{
    opacity: 1;
}

.parent >.img >img{
    width:100%
}
