.parent{
    display:;
}
.child{
    display:inline-block;
    width:200px;
    height:200px;
    background:red;
    border: 2px solid green;
    margin: 100px;
    padding: 100px 566px 30px 20px;
        }