h1{
    color:red;
}
h1>span{
    color:mediumspringgreen;
    font-family: monospace;
}
.some{
    color:aqua;
    font-size:20px;
    font-family:serif;
}
.some1{
    color:rebeccapurple;
    font-size: 25px;
    font-family: inherit;
    background: green;
}
.some2{
    color: cyan;
    font-size: 40px;
    font-family: inherit;
    background: pink;

}