h1{
    color: chartreuse;
    text-align:center;
    font-size:30px;
    font-family:'Bodoni Moda', serif;
    font-weight:bold;
}
.some{
    color: palevioletred;
    text-align:center;
    font-size:20px;
    font-family: 'Hachi Maru Pop', cursive;
    word-spacing:10px;
    line-height:40px;
    letter-spacing:3px;
    text-transform: capitalize;
    text-shadow: 4px 4px 4px;/* 3d*/
    font-style:italic;
}