.google{
    color:aqua;
}
.google:hover{
    color:chartreuse;
}
.text:hover{
    color:pink;
}
.text{
    color:blue;
}
.text:hover{
    background:red;
}
.google:focus{
    color:lightcoral;
}
.sometext{
    color:darkgreen;
}
.sometext:nth-child(3){
    color:firebrick;
    font-family: serif;
    font-size:30px;
}
.sometext:first-child{
    color:dimgrey;
    font-size:25px;
}
.patmutyun{
    color:crimson;
    font-size:28px;
    font-family:inherit;
    font-weight: bold;
}
.patmutyun:first-letter{
    color:darkblue;
    font-size:60px;
}
.patmutyun{
    text-indent:50px;
}
.patmutyun:first-line{
    background: red;
}
.ba:before{
    content:'hello  ';
}
.ba:after{
    content:'Armenia';
}
form input[name="name"]{
    background: green;
}
form input[name="lastname"]{
    background: pink;
}