.somediv{
    background: url("https://cdn.wallpapersafari.com/9/57/UsZPwb.jpg");
    width:200px;
    height: 200px;
    background-size:cover;
    background-repeat:no-repeat;
    border: 2px solid red;
    background-position: 50% 50%;
}
.mydiv{
    width:100%;
    height: 400px;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlUwf8uOyA3rX9P_e2TqJz2o3uiOS9_Xexeg&usqp=CAU");
    background-size:cover;
    background-position:50% 50%;
    background-attachment:fixed;
}
.super{
    width:300px;
    height:300px;
    border:5px solid red;
    border-radius:100px 500px 100px 500px;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8XMHUXNaLNNXQJ59JMsoJucoGQYQGmXy6kQ&usqp=CAU");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:no-repeat;
}