.somediv{
    width:200px;
    height:200px;
    background:darkblue;
    border-radius:10%;
    opacity:0.5;
    transition:1s;
}
.somediv:hover{
    background:red;
    border-radius: 50%;
    opacity: 1;
    transform:scale(1.3);
    transform: scaleY(1.5);
    transform: translateX(200%);
    transform:rotate(180deg);
    
}

