.somediv{
    background: red;
    color:yellow;
    padding: 10px;
    font-family: cursive;
    font-size:10px;
}
.somep{
    color:red;
    background: black;
    font-size:20px;
    font-family: cursive;
}
@media screen and (min-width: 700px){
    .somediv{
        background: pink;
        font-size:10px
    }
    
    
    .somep{
        color:aqua;
        background: pink;
        font-size:25px;
    }
}

@media screen and (min-width: 580px){
    .somediv{
        background: blu;
        font-size:10px
    }

    
    
    .somep{
        color:aqua;
        background: pink;
        font-size:25px;
    }
}


#test{
    display:none;
    background: red;
    color:aqua;
    font-family: serif;
    font-size:20px
}


@media screen and (min-width:400px) and (max-width:600px){
    #test{
        display:block;}

}
.somediv2 {
    background:red;
    color:aqua;
    
}
#someid {
    font-size:25px;
    color:darkblue;
    
}

@media screen and (max-width: 600px){
    .somediv2{
        background: blue;
        font-size: 25px;
        font-family: sans-serif;
        border-radius: 20% 110% 20% 110%;
    }
    #someid{
        color:red;
    }
}

